/** @format */

.selproduct-product_container {
  width: 100%;
  min-height: 100vh;
  background-color: #fefefefe;
  border-radius: 0 0 20px 20px;
}
.selproduct-product_contents {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem 0;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.selproduct-product_user {
  min-height: 4rem;

  width: 100%;

  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1rem;
  margin-top: 2.2rem;
  margin-bottom: 1rem;

  .selproduct-product_user-img {
    display: flex;
    align-items: center;

    gap: 0 1.25rem;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.151) 0px 18px 36px -18px;
    }

    h1 {
      margin: 0.8rem 0;
      font-size: 1.28rem;
      margin-top: 0;
      font-weight: 500;
      span {
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          text-decoration: underline;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
.selproduct-product-ratings {
  width: 100%;
  padding-bottom: 1.8rem;
  padding-top: 1.2rem;
  gap: 1rem;
  margin-top: 0.5rem;
  .rating-h2 {
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(37, 32, 32);
    text-shadow: 0px 5px 10px rgba(17, 12, 46, 0.103);
    display: flex;
    align-items: center;
    margin-top: 0;
    gap: 0 0.3rem;
  }
  .selproduct-product_rating-box {
    max-width: 45rem;
    display: flex;
    margin-top: 2rem;
    gap: 0 2rem;

    .selproduct-product_rating-user {
      width: 180px;
      height: 180px;
      border-radius: 5px;
      gap: 0 0.5rem;
      overflow: hidden;
      box-shadow: rgba(17, 12, 46, 0.199) 0px 48px 100px 0px;
    }
    .selproduct-p {
      width: 100%;
      height: 100%;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      display: flex;
      align-items: center;
    }
    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
    .selproduct-product-raitng_details {
      display: flex;
      padding: 0.5rem 0 0.2rem;
      flex-direction: column;
    }
    h2 {
      font-size: 1.7rem;
      font-weight: 500;
      margin-top: 0rem;
      margin-bottom: 0.1rem;
    }
    span {
      font-size: 0.9rem;
      opacity: 0.7;
      font-weight: 400;
      position: relative;
      margin-top: 0rem;
    }
    .rating_text {
      margin-top: 0.4rem;
      opacity: 0.8;
      font-weight: 500;
      font-size: 0.9rem;
      max-width: 18rem;
      margin-bottom: 0.95rem;
    }
    .arrow_icons {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 0 0.8rem;
      margin-bottom: 0.5rem;
      button {
        background: transparent;
        border: 0;
        outline: 0;
        font-size: 1.45rem;
        display: grid;
        place-content: center;
        background-color: rgb(211, 211, 211);
        border-radius: 50%;
        padding: 0.2rem;
        color: rgb(0, 0, 0);
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:active {
          transform: scale(0.9);
        }
        &:hover {
          color: white;
          background-color: black;
        }
        &:disabled {
          opacity: 0.45;
        }
      }
      .arrow_icon {
        cursor: pointer;
      }
    }
  }
}
.simplebar-content {
  display: flex;
  gap: 0 1.8rem;
}
.selproduct-product_similar {
  padding: 0.5rem 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .selproduct-product_similar-box {
    height: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    display: flex;
    gap: 0 1.9rem;
    // overflow-x: scroll;
    padding-bottom: 2.9rem;
    &::-webkit-scrollbar {
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(136, 136, 136, 0.575);
    }

    /* Handle on hover */
    &:-webkit-scrollbar-thumb:hover {
      background: rgb(46, 46, 46);
    }
    .product-box {
      padding: 0;
      width: 260px;
      border: 0;
      .product-details {
        color: black;
        .product-details_cat-span {
          .span_cat {
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .selproduct-product_contents {
    width: 90%;
  }
}
@media screen and (max-width: 1080px) {
  .selproduct-product_container {
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  .selproduct-product_user {
    min-height: 4rem;

    display: flex;
    align-items: center;
    gap: 0 0.5rem;
  }

  .selproduct-product_similar {
    padding: 0.5rem 0;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.7rem;
      font-weight: 600;
    }
    .selproduct-product_similar-box {
      .product-box {
        padding: 0;
        width: 240px;
        border: 0;
        .product-details {
          color: black;
          padding-top: 0.2rem;
          .product-details_cat-span {
            .span_cat {
              &:hover {
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .simplebar-content {
    padding-left: 0 !important;
    position: relative;
    left: -1.8rem;
  }
  .selproduct-product-ratings {
    .selproduct-product_rating-box {
      .rating_text {
        margin-top: 0.1rem;
        margin-bottom: 0.9rem;
      }
      .arrow_icons {
        margin-top: 0.5rem;
        align-self: flex-start;
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .selproduct-product-ratings:nth-child(1) {
    margin-top: 1rem;
  }
  .selproduct-product-ratings {
    width: 100%;
    padding-bottom: 0rem;
    padding-top: 0.8rem;
    gap: 1rem;
    margin-top: 0.5rem;
    .rating-h2 {
      font-size: 1.45rem;
      font-weight: 600;
      color: rgb(37, 32, 32);

      gap: 0 0.3rem;
      margin-bottom: 0.7rem;
    }
    .selproduct-product_rating-box {
      display: flex;
      margin-top: 0rem;
      gap: 0 1.5rem;
      flex-direction: column;
      align-items: flex-start;
      .selproduct-product_rating-user {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        gap: 0 0.5rem;
        overflow: hidden;
        box-shadow: rgba(17, 12, 46, 0.096) 0px 48px 100px 0px;
      }
      .selproduct-product_rating-user {
        margin-top: 0.8rem;
        display: flex;

        align-items: flex-start;
        flex-direction: column;
        gap: 0.4rem 0;
        padding: 0rem 0 0;
      }
      img {
        width: 150px;
        height: 150px;
      }
      h2 {
        margin-top: 0.2rem;
        font-size: 1.6rem;
        margin-bottom: 0.6rem;
      }
      span {
        margin-top: 0rem;
      }
      .rating_text {
        margin-top: 0.45rem;
        margin-bottom: 0.95rem;
        word-break: break-all;
        width: 100%;
      }
      .arrow_icons {
        margin-top: 0.5rem;
        align-self: flex-start;
      }
    }
  }
  .selproduct-product_user {
    min-height: 4rem;

    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 0rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    .selproduct-product_user-img {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.9rem 0rem;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
