/** @format */

.btn-loading-div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: rgb(255, 255, 255);
  animation: spin 1s infinite linear;
}
.loading-span {
  user-select: none;

  color: #eeeeee;
  border: 2px solid;
  transition: 0.5s ease-in-out;

  font-size: 20px;

  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 0;
  gap: 0 0.8rem;
  font-size: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.explore-btn {
  border-radius: 15px;
  background-color: rgba(247, 247, 247, 0.911);
  background-color: transparent;
  border: 2px solid rgba(110, 110, 110, 0.315);
  color: rgb(238, 238, 238);
  width: 90px;
  height: 32px;
  display: grid;
  place-content: center;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  .explore-icon {
    font-size: 1.5rem;
  }
  &:hover {
    transform: translateX(2px);

    border: 2px solid rgba(231, 231, 231, 0.952);
  }
  &:active {
    transform: scale(0.9);
  }
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
