/** @format */

.product-dropdown {
  position: absolute;
  top: 1rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 200;
  .product-dropdown_icon {
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.055);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
  }
  .product-dropdown_icon-active {
    border: 2px solid rgba(255, 0, 0, 0.308);
  }
}
.product-dropdown-box {
  margin-top: 0.8rem;
  width: 130px;
  border-radius: 10px;
  padding: 0.4rem 0.5rem;
  box-shadow: rgba(17, 12, 46, 0.082) 0px 0px 0px 0px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid rgba(255, 0, 0, 0.116);
  ul {
    padding-right: 1rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.7rem 0;
    li {
      font-size: 1rem;
      font-weight: 400;
      list-style-type: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0 0.5rem;

      color: rgba(0, 0, 0, 0.829);
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        color: rgb(211, 4, 4);
        transform: scale(1.03);
      }
      .product_icon-dropdown {
        color: rgba(0, 0, 0, 0.699);
      }
    }
    &:hover li:not(:hover) {
      opacity: 0.5;
    }
  }
}
.product-dropdown-box_active {
  box-shadow: rgba(17, 12, 46, 0.089) 0px 48px 100px 0px;
}
@media screen and(max-width:550px) {
  .product-dropdown-box {
    width: 115px;
    border: 2px solid rgba(255, 0, 0, 0.144);
    padding: 0.15rem 0.3rem;
    ul {
      gap: 0.55rem 0;
      li {
        margin: 0rem 0;
        font-size: 0.9rem;
      }
    }
  }
}
