/** @format */

.usersetting-container {
  width: 100%;
  height: 100%;
}

.usersetting-contents {
  width: 100%;
}

.usersetting-form {
  width: 40rem;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1.4rem 0;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1b1d27 inset !important;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
  }
}
.usersetting-textarea:-webkit-autofill,
.usersetting-textarea:-webkit-autofill:hover,
.usersetting-textarea:-webkit-autofill:focus,
.usersetting-textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #1b1d27 inset !important;
}
.usersetting-textarea:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}
.usersetting-input_items {
  label {
    display: block;
    color: white;
  }
  .usersetting-input,
  .usersetting-textarea {
    width: 94%;
    padding-right: 0;
  }
  .usersetting-select {
    width: 97%;
    optgroup {
      height: 250px !important;
    }
  }
  .usersetting-textarea:-webkit-autofill,
  .usersetting-textarea:-webkit-autofill:hover,
  .usersetting-textarea:-webkit-autofill:focus,
  .usersetting-textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px #1b1d27 inset !important;
  }
  .usersetting-textarea:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
  }
  .usersetting-textarea {
    background-color: black;
  }
  .usersetting-profile {
    width: 96%;
    margin: 0.8rem auto 1.2rem;
    p {
      width: 10rem;
      color: white;
      margin: 1.1rem 0;
      margin-top: 0.8rem;
      font-size: 0.9rem;
      letter-spacing: 0.6px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: rgb(255, 27, 27);
      }
    }
    .usersetting-profile_img {
      height: 130px;
      width: 130px;
      position: relative;

      .usersetting-loader {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.753);

        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: progress;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
  }
  .upload-container {
    margin: 0;
    margin-bottom: 1.1rem;
    margin-left: 0.8rem;
  }
}
.usersetting_error_span {
  color: rgb(241, 25, 25);
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 0.8rem;
  display: block;
  margin-top: 0.8rem;
}
.userprofile_crop {
  width: 100%;
  height: 120px !important;
  border-radius: 15px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.userprofile-cropped {
  width: 300px;
  height: 300px;
}

.usersetting-input,
.usersetting-textarea,
.usersetting-select {
  font-family: "Poppins", sans-serif;
  padding: 0.85rem 0.9rem;
  width: 16rem;
  margin: 0 0.5rem;
  border-radius: 15px;
  border: 0;
  outline: 0;
  color: white;
  background-color: #1b1d27;
  border: 2px solid rgba(255, 255, 255, 0.123);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    border: 2px solid rgba(255, 255, 255, 0.452);
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a5;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a5a5a5;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #a5a5a5;
  }
  &:focus {
    border: 2px solid rgba(255, 255, 255, 0.151);
  }
}

.usersetting-input_items-header {
  display: flex;
  justify-content: space-between;
  gap: 0 1.5rem;
}
.usersetting-btn {
  font-family: "Poppins", sans-serif;
  width: 98%;

  margin: 0 auto;
  border-radius: 15px;
  padding: 0.6rem 0.8rem;
  background-color: #1b1d27;

  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  border: 2px solid rgba(255, 255, 255, 0);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 95%;
    background-color: rgb(160, 16, 16);
    border-radius: 15px;
    content: "";
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover::after {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
    color: black;
  }
  &:hover {
    color: black;
    background-color: #0e0e13;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}
.usercart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.usercart-actions {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 0 5rem;
}
.usercart-bar {
  min-width: 400px;
  padding: 1rem 2rem;

  border-radius: 15px;

  background-color: #1b1d27;
  display: flex;
  justify-content: space-between;

  color: rgb(255, 255, 255);

  h2 {
    color: rgb(255, 255, 255);
    margin-top: 0rem;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
    letter-spacing: 0.2px;
  }
  p {
    margin-top: 0;
    color: rgb(255, 255, 255);

    font-weight: 500;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }
  .usercart-total_words {
    display: block;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.397);
    margin-bottom: 0.5rem;
  }
  // .items-orderd {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   p {
  //     margin-top: 0rem;
  //     color: rgb(255, 255, 255);
  //     margin-bottom: 0.5rem;
  //   }
  //   span {
  //     font-size: 1.6rem;
  //     text-align: center;
  //     color: rgba(255, 42, 42, 0.767);
  //   }
  // }
}
.usercart-contents {
  width: 100%;
  height: 100%;
}
.usercart-order {
  margin-top: 0em;

  .usersetting-btn {
    width: 10rem;
    background-color: rgb(155, 8, 8);
  }
  .usersetting-btn-active {
    width: 12rem;
    background-color: rgb(141, 14, 14);
  }
}
.cart-items-list {
  width: 100%;
  margin-top: 5rem;
  position: relative;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem 0;
}

.cart-item-box {
  width: 100%;
  padding: 1.5rem;
  min-height: 120px;
  border-radius: 20px;
  border: 2px solid rgba(247, 17, 17, 0.39);
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 10px 20px rgb(17, 17, 17);
}
.cart-item-box_active {
  animation: borderAnimation 2s linear infinite;
}

@keyframes borderAnimation {
  0% {
    border-top: 2px solid #f3232354;
    border-left: 2px solid #f32323c9;
    border-right: 2px solid #f3232327;
    border-bottom: 2px solid #f3232315;
  }
  25% {
    border-left: 2px solid #f3232373;
    border-top: 2px solid #f32323c9;
    border-right: 2px solid #f3232327;
    border-bottom: 2px solid #f3232315;
  }
  50% {
    border-top: 2px solid #f3232373;
    border-right: 2px solid #f32323c9;
    border-left: 2px solid #f3232327;
    border-bottom: 2px solid #f3232315;
  }
  75% {
    border-top: 2px solid #f3232373;
    border-bottom: 2px solid #f32323c9;
    border-right: 2px solid #f3232327;
    border-left: 2px solid #f3232315;
  }
  100% {
    border-top: 2px solid #f3232373;
    border-left: 2px solid #f32323c9;
    border-right: 2px solid #f3232327;
    border-bottom: 2px solid #f3232315;
  }
}
.cart-item-left {
  width: auto;
  display: flex;
  gap: 0 1.5rem;

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }
  .cart-item-details {
    a {
      text-decoration: none;
      color: white;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.4px;
      margin-top: 0.9rem;
      margin-bottom: 0.2rem;
      cursor: pointer;
      &:hover {
        color: #e01c1c;
        text-decoration: underline;
      }
    }
    span {
      color: rgb(165, 165, 165);
    }
  }
}
.cart-item-center {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  .cart-item-arrow {
    font-size: 1.1rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0);

    border-radius: 50%;

    &:active {
      transform: scale(0.9);
      background-color: #272727;
      border: 2px solid rgba(255, 255, 255, 0.144);
    }
    &:hover {
      color: rgb(139, 139, 139);
      border: 2px solid rgba(255, 255, 255, 0.247);
    }
  }
  span {
    font-size: 1.1rem;
  }
}
.cart-item-right {
  p {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;

    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: rgba(99, 4, 4, 0.411);
    color: white;
  }
}

.cart-item-remove {
  position: absolute;
  right: 1.2rem;
  top: 0.7rem;
  .cart-item-remove_icon {
    color: rgb(90, 83, 83);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 1.45rem;
    cursor: pointer;
    &:hover {
      color: rgb(211, 12, 12);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  .cart-item-remove_icon-active {
    animation: rotaion 1s linear infinite;
    color: rgb(250, 4, 4);
  }
  @keyframes rotaion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
@media screen and (max-width: 1080px) {
  // .usersetting-form {
  //   width: 90%;
  // }
  .usercart-actions {
    gap: 1.9rem 2rem;
    flex-wrap: wrap;
  }
  .usercart-bar {
    width: 100%;
    min-width: auto;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-right: 0;
    h2 {
      font-size: 2rem;
    }
  }
  .cart-item-box {
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    justify-content: space-around;
  }
  .usercart-order {
    .usersetting-btn {
      width: 10rem;
      padding: 0.45rem;
    }
    .usersetting-btn-active {
      width: 12rem;
    }
  }
}
@media screen and (max-width: 720px) {
  .usersetting-form {
    width: 100%;
    position: relative;
    left: -0.5rem;
  }
  .usersetting-input_items-header {
    gap: 1.25rem 0;
    flex-direction: column;
    .usersetting-input,
    .usersetting-select {
      padding: 0.8rem 0.9rem;
      width: 93%;
    }
    .usersetting-select {
      width: 97%;
    }
  }

  .cart-item-box {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1rem;
    align-items: flex-start;
    gap: 0.5rem 0;
    position: relative;
    left: 0.3rem;
    .cart-item-left {
      width: 95%;
      margin-top: 0.5rem;
      flex-direction: column;

      .cart-item-details {
        padding-left: 0.5rem;
      }
      img {
        width: 100%;
        height: 150px;
      }
    }
    .cart-item-center {
      .cart-item-arrow {
        font-size: 1.1rem;
      }
      span {
        font-size: 1rem;
      }
    }
    .cart-item-right {
      p {
        margin: 0.5rem 0 0;
        font-size: 1rem;
      }
    }
  }
  .usercart-order {
    width: 100%;
    .usersetting-btn {
      width: 100%;
      padding: 0.45rem;
    }
    .usersetting-btn-active {
      width: 12rem;
    }
  }
  .cart-item-remove {
    bottom: 1rem;
    top: initial;
  }
}
@media screen and (max-width: 550px) {
  .usersetting-form {
    width: 100%;
    position: relative;
    left: -0.5rem;
    .usersetting-select {
      width: 99%;
    }
  }
  .usersetting-input_items-header {
    gap: 1.25rem 0;
    flex-direction: column;
    .usersetting-input {
      padding: 0.8rem 0.9rem;
      padding-left: 0.8rem;
      width: 90%;
    }
    .usersetting-select {
      width: 99%;
    }
  }
  .usersetting-input_items {
    .usersetting-input {
      width: 94%;
    }
    .usersetting-profile {
      padding-left: 0.8rem;
    }
  }
  .usersetting-btn {
    width: 100%;
    left: 0.5rem;
  }
  .usercart-order {
    .usersetting-btn {
      left: 0;
    }
  }
}
