/** @format */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
.create-p_container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(41, 36, 36);
  background-color: #000000;

  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #111010 600px
    ),
    repeating-linear-gradient(#1f1e1e55, #131212);
}
.create-p_contents {
  width: 100%;
  padding: 2.2% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-family: "Playfair Display", serif;
    font-weight: 600;

    letter-spacing: 0.7px;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    position: relative;
    &::before {
      position: absolute;
      bottom: -1rem;
      content: "";
      width: 150px;
      left: 50%;
      transform: translateX(-50%);
      height: 0.15rem;
      border-radius: 10px;
      background-color: rgb(170, 170, 170);

      z-index: 50;
    }
  }
}
.create-p_form {
  width: 38rem;
  margin: 3.8rem auto 0;
  height: auto;
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .create-p_span {
    color: rgb(146, 146, 146);
    display: block;
    align-self: flex-start;
    position: relative;
    right: 0.5rem;
    margin-top: 0.6rem;
    font-size: 0.95rem;
  }
  .create-p_form-contents {
    width: 100%;
    height: 100%;
    gap: 0.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .create-p_uploaded-img {
    width: 100%;
    height: 280px;
    margin-bottom: 1.1rem;
    border: 3px solid #ff2e6209;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
  }
  .create-p_uploaded-img-active {
    height: 280px;
  }
  .uploaded-img {
    width: 100%;
    height: 280px;
    object-fit: cover;

    border-radius: 7px;
    animation: animate 1s ease-in-out forwards;

    &:focus {
      width: 100%;
      border: 3px solid white;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.973);
    }
  }
  @keyframes animate {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  input,
  textarea,
  .select-input {
    font-family: "Poppins", sans-serif;
    color: rgba(248, 248, 248, 0.973);

    width: 100%;
    padding: 0.55rem 0.7rem 1rem;
    border: 2px solid #3b3b3b65;
    border-bottom: 3px solid #f31e1e70;
    background: transparent;
    margin: 0.8rem 0;
    font-size: 1rem;
    border-radius: 0px;
    width: 98%;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
    outline: 0;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.918);
    &:focus {
      width: 99%;
      border-bottom: 3px solid #c20c0c;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.986);
    }
  }
  textarea {
    font-size: 0.95rem;
    color: rgb(231, 231, 231);
  }
  .input-error {
    border: 3px solid red;
  }
  .product-error_span {
    color: #da0e0e;

    align-self: flex-start;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .product-price_words {
    color: rgb(206, 206, 206);
    align-self: flex-start;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .select-input {
    background: transparent !important;
    color: #000000;
    padding: 0;
    width: 102% !important;
    border-bottom: 3px solid #ff2e6200 !important;
    &:focus {
      width: 104%;
      border-bottom: 3px solid #d11616;
    }
    input {
      background: transparent !important;
      padding: 0;
      border-bottom: 3px solid #ff2e6200 !important;
    }
  }
  .css-1s2u09g-control {
    background: transparent;

    padding: 0.5rem 0.5rem 0.5rem;
    border: 2px solid #3b3b3b65;
    border-bottom: 3px solid #ff2e6265;
    &:hover {
      border: 2px solid #3b3b3b65;
      border-bottom: 3px solid #d11616;
    }
  }
  .css-1rhbuit-multiValue {
    background-color: #ff2e63;

    height: 2rem;
    display: flex;
    align-items: center;
    .css-12jo7m5 {
      font-size: 0.85rem;
      color: white !important;
    }
  }
  select {
    width: 102%;
    option {
      color: black;
    }
    &:focus {
      width: 104%;
      border-bottom: 3px solid #d11616;
    }
  }
  .other-label {
    color: rgb(255, 255, 255);
    align-self: flex-start;

    font-size: 1.05rem;
    font-weight: 500;
    margin: 0.8rem 0 0.1rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3px;
    .desp_length {
      font-size: 0.8rem;
      margin-left: 0.5rem;
      color: rgba(255, 255, 255, 0.842);
    }
    .desp_length-active {
      color: rgb(223, 30, 30);
      animation: warning 1s linear;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    @keyframes warning {
      0% {
        transform: scale(0.8);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  .file-label {
    font-family: "Poppins", sans-serif;
    position: relative;
    right: 0.55rem;
    margin-top: 0.8rem;
    color: rgb(243, 243, 243);
    padding: 0.2rem 1rem 0.4rem;
    border-radius: 10px;
    border: 3px solid #f31e1e7e;
    align-self: flex-start;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    transform-origin: center;
    font-weight: 400;
    letter-spacing: 0.3px;
    &:hover {
      border: 3px solid #c20b0bfd;
      background-color: #1b1516;
    }
  }
  .create-p_btn {
    width: 90px;
    height: 32px;

    margin-top: 1.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 3px solid #ffffff;
    outline: 0;

    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      background: transparent;
      color: white;
    }
    &:active {
      transform: scale(0.9);
    }
    .create-p_icon {
      font-size: 1.2rem;
    }
  }
  .upload_img {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    &:focus {
      width: 100%;
      border: 0px solid rgba(255, 255, 255, 0);
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0);
    }
  }
}
:root {
  --swiper-navigation-size: 28px !important;
  --swiper-theme-color: #ff2e63 !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(238, 238, 238, 0.993);
  padding: 0.35rem 0.65rem;

  border-radius: 50%;
}
.innerdiv-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Montserrat", sans-serif;
  p {
    font-weight: 600;
    font-size: 1.55rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
  .percentage-up {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(126, 126, 126);
  }
}

.upload-container {
  width: 35rem;
  margin: 2rem 0 0rem;
  height: auto;
  position: relative;

  border: 3px solid #ffffff17;
  padding: 1.5rem;
  border-radius: 10px;
  &:hover {
    border: 3px solid rgba(255, 255, 255, 0.171);
  }
}
.upload-loader_container {
  position: absolute;
  right: -1rem;
  top: 5rem;
  .loader {
    transform: translateZ(0) scale(0.15);
  }
}

.upload-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 2rem;
  img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    padding: 0.8rem;
    border: 2px solid rgba(211, 211, 211, 0.082);
  }
  p {
    margin-top: 0rem;
    border-radius: 20px;
    height: 0.3rem;
    width: 5%;
    background-color: #ff2e63;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .progress-bar {
    margin-top: 2.5rem;
    width: 100%;
    height: 0.3rem;
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.144);
      content: "";
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  :root {
    --swiper-navigation-size: 20px !important;
    --swiper-theme-color: #ff2e63 !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(238, 238, 238, 0.993);
    padding: 0.35rem 0.6rem;

    border-radius: 50%;
  }
}
