/** @format */

.options-container {
  width: 100%;
  height: 100%;
  background-color: #121314;
  font-family: "Montserrat", sans-serif;
}
.options-contents {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem 0;

  h2 {
    font-size: 2.95rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: white;
    font-weight: 600;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0.5rem;
    .option-cat-icon {
      margin-right: 0.4rem;
      font-size: 3.5rem;
    }
    // span {
    //   margin-left: 0.5rem;
    //   font-weight: 600;
    //   color: #ff2e63;
    // }
  }
}
.options-list {
  margin-top: 1em;
  width: 100%;
  form {
    max-width: 35rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .options-btn-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .options-btndiv {
    margin: 0.5rem 0.4rem;
  }
  .optionsitem-btn {
    font-family: "Montserrat", sans-serif;
    padding: 0.4rem 1.5rem;

    border: 0;
    outline: 0;

    font-size: 1rem;
    letter-spacing: 0.2px;
    border: 3px solid rgba(211, 15, 15, 0.849);
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
    color: rgb(248, 248, 248);
    background: transparent;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:active {
      transform: scale(0.8);
    }
    &:hover {
      transform: translateY(-4px);
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .label-active {
    background-color: #eaeaea;
    color: #000000;
    border: 2px solid rgba(128, 13, 13, 0.692);
  }
  //   input[type="checkbox"]:checked ~ label {
  //     background-color: rebeccapurple;
  //     color: white;
  //   }
}
.options-btn {
  margin-top: 3.5rem;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  // border: 2px solid rgba(105, 24, 197, 0);
  // background-color: rgba(247, 247, 247, 0.911);
  // color: rgb(15, 15, 15);
  background-color: rgba(247, 247, 247, 0.911);
  background-color: transparent;
  border: 2px solid rgba(146, 146, 146, 0.651);
  color: rgba(235, 235, 235, 0.774);
  outline: 0;

  letter-spacing: 0.6px;
  cursor: pointer;
  display: grid;
  place-content: center;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    transform: translateX(5px);
    border: 2px solid rgb(194, 9, 9);

    color: rgb(194, 9, 9);
  }
  &:active {
    transform: scale(0.8);
  }
  .options-arrow-icon {
    font-size: 1.35rem;
  }
}
.options-btn-active {
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0);
  &:hover {
    border: 2px solid rgba(219, 219, 219, 0);
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  left: 0.3rem;
  top: 0.35rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 5px solid rgb(49, 199, 129);

  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ececec transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1400px) {
  .options-contents {
    padding: 0rem 0;
    gap: 2rem 0;
  }
}
@media screen and (max-width: 1200px) {
  .options-container {
    width: 100%;
    height: auto;
    background-color: #16171a;
    font-family: "Montserrat", sans-serif;
  }
  .options-contents {
    padding: 0 0;
    gap: 1.5rem 0;
    height: auto;
    width: 90%;
    margin: 0 auto;
    h2 {
      font-size: 2.7rem;
    }
  }
  .options-list {
    .optionsitem-btn {
      font-size: 0.9rem;
    }
  }
}
@media screen and (max-width: 720px) {
  .options-list {
    gap: 0rem 0;
    .options-btndiv {
      margin: 0.45rem;
    }
  }
}
@media screen and (max-width: 560px) {
  .options-contents {
    margin-top: 0rem;
    gap: 0rem 0;
    width: 100%;
    padding: 0rem 0;
    h2 {
      text-align: center;
      margin-top: 0rem;
      font-size: 2rem;

      align-self: flex-start;
      text-align: left;
      margin-left: 1.5rem;

      line-height: 1.15;
      color: rgb(247, 247, 247);
      padding-bottom: 0.4rem;
      border-bottom: 3px solid rgba(211, 15, 15, 0.37);

      gap: 0.5rem 0;
      .option-cat-icon {
        color: #ff2e63;
        margin-right: 0.4rem;
        display: none;
      }
    }
  }
  .options-list {
    width: 88%;
    margin: 2rem auto 0;
    .options-btn-list {
      margin-top: 0.5rem;

      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .options-btndiv {
      margin: 0.32rem 0.2rem;
    }
    .optionsitem-btn {
      border: 3px solid rgba(211, 15, 15, 0.562);

      font-size: 0.95rem;
    }
  }

  .options-btn {
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-self: flex-start;
    margin-left: 0.3rem;
    width: 38px;
    height: 38px;
  }
}
@media only screen and (max-width: 560px) and (max-height: 500px) {
  .options-contents {
    padding: 3rem 0;
  }
}
