/** @format */

.reset-pass_container {
  width: 100%;
  height: auto;
  position: relative;
  background: linear-gradient(
    90.03deg,
    #000000f8 50%,
    rgba(9, 9, 9, 0.11) 140.82%
  );
  video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.reset-pass_contents {
  width: 87%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  .reset-form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
  }
  .reset-h1 {
    font-size: 2.7rem;
    margin-top: 0;
    margin-bottom: 0.55rem;
    font-weight: 600;
  }
  .reset-h1_user {
    font-size: 2.9rem;
    margin-bottom: 1.6rem;
  }
  input {
    font-family: "Poppins", sans-serif;
    padding: 0.75rem 0.85rem;

    width: 80%;
    border-radius: 18px;
    outline: 0;
    border: 0;
    color: #ffffff;
    background-color: #1b1d27;
    border: 2px solid rgb(73, 73, 73);
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #a5a5a5;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #a5a5a5;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #a5a5a5;
    }
    &:focus {
      border: 2px solid rgb(116, 116, 116);
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1b1d27 inset !important;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
  }
  .reset-error {
    font-size: 0.9rem;
    color: rgb(250, 14, 14);
    font-weight: 500;
  }
  .reset-error_active {
    color: rgb(0, 165, 0);
  }

  .explore-btn {
    margin-left: 0.4rem;
    margin-top: 2.1rem;
    background-color: rgb(211, 211, 211);
    .explore-icon {
      color: rgb(26, 26, 26);
    }
    &:hover {
      transform: translateY(0);
    }
  }
  .reset-back {
    text-decoration: none;
    margin-top: 0rem;
    margin-bottom: 1.7rem;
    color: rgb(151, 151, 151);
    font-size: 0.9rem;
    padding: 0.2rem;

    margin-left: 0.2rem;
    &:hover {
      color: white;
    }
  }
}
.reset-pass_form {
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem 0;
  input {
    width: 85%;
    margin: 0.4rem 0;
  }
  .reset-error {
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 720px) {
  .reset-pass_contents {
    width: 90%;
    padding: 0.8rem 0;
    .reset-form {
      width: 100%;
      margin: 1.35rem 0;
      gap: 0.5rem 0;

      input {
        width: 90%;
        margin: 0.2rem 0;
      }
    }
    .reset-pass_form {
      margin: 0.5rem 0 1rem;
      gap: 0.6rem 0;
    }
    .reset-h1 {
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 0.8rem;
      font-weight: 600;
      line-height: 1.1;
    }
    .explore-btn {
      margin-left: 0.4rem;
      margin-top: 2rem;
      background-color: rgb(211, 211, 211);
    }
    .reset-error {
      margin-top: 0.2rem;
      font-size: 0.94rem;
      margin-left: 0.2rem;
    }
    .reset-back {
      font-size: 0.9rem;
      margin-left: 0.1rem;
      margin-top: 0.2rem;
      margin-bottom: 0.8rem;
      padding-left: 0;
      display: block;
    }
  }
}
